
auto
figure
manuscript.aux
manuscript.bbl
manuscript.bcf
manuscript.blg
manuscript.fdb_latexmk
manuscript.fls
manuscript.log
manuscript.out
manuscript.pdf
manuscript.run.xml
manuscript.tex
cache
manuscript.lof
manuscript.lot
manuscript.toc
