auto
figure
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.run.xml
*.rip
placenta_viviparous_presentation.tex
cache
*.lof
*.lot
*.toc
*.nav
*.snm
*.vrb
*.mw
*.pdfpc
pdfpcnotes.sty
_minted-*