*.txt
combined_fpkm
go_gene_association
go-basic.obo
gene_association.goa_human
gene_association.goa_human.gz
HOM_AllOrganism.rpt
HOM_MouseHumanSequence.rpt
oma-ensembl.txt.gz
oma-groups.txt.gz
Compara.80.protein.nhx.emf.gz
gene_trees
ensembl_orthologs
homology_table
hugo_nomenclature
placenta_core_transcriptome
placenta_go_results_??
placenta_lineage_specific
combined_fpkm_per_sample
ensembl_orthologs_long
gene_annotation
housekeeping_genes_superset
human_mouse_lineage_specific
placenta_gsea_*
