*.txt
combined_fpkm
go_gene_association
go-basic.obo
gene_association.goa_human
gene_association.goa_human.gz
HOM_AllOrganism.rpt
HOM_MouseHumanSequence.rpt
oma-ensembl.txt.gz
oma-groups.txt.gz
Compara.80.protein.nhx.emf.gz
gene_trees
ensembl_orthologs
hugo_nomenclature
placenta_core_transcriptome
placenta_core_tree_transcriptome
placenta_core_tree_transcriptome_permissive
placenta_core_transcriptome_complete
placenta_core_transcriptome_alignment
placenta_go_results_??
placenta_go_results_permissive_??
placenta_lineage_specific
combined_fpkm_per_sample
ensembl_orthologs_long
gene_annotation
housekeeping_genes_superset
human_mouse_lineage_specific
placenta_gsea_*
*.gmt
hsa0*
placenta_classification_p
placenta_classification
placenta_classification_go_??_*
placenta_netpath_results
ortholog_expression_nexus.nex*
rna_tissue.csv.zip
orthologs_by_species_ranking
ensembl_all_ortholog_types
ensembl_all_orthologs
